%fieldset.attributes
	%legend 
		Attributes
	%table
		%body
			%tr
				%td.attr
				%td.attr
				%td.attr
				%td.attr
					+3
				%td.attr
					+2
				%td.attr
					+1
			-attributes.keys.each do | attr |
				%tr
					%td
						=attr.to_s.capitalize
					%td{ :id => "#{attr}" }
						=attributes[attr]
					%td{ :id => "favoured_" + "#{attr}" }
						( 0 )
					-[3,2,1].each do |i|
						%td.attr
							%input{ :type => "radio", :id => "#{attr.to_s + "_" + i.to_s}", :name => ("favoured_attribute_" + i.to_s), :value => "#{attr}", :onchange => 'updateFavoured(this)' }
