-heroclass=(Object.const_get(culture))
					
%fieldset.checkboxes{ :culture=>"#{culture}" }
	%legend Rewards
	- i = 0
	- rewards = heroclass.rewards
	- rewards.keys.each do | r |
		%p
		%input{:name => r, :type=>"checkbox", :culture=>culture, :reward_type => rewards[r][:type], :disabled => !rewards[r][:implemented], :onchange=>"updateRewards(this)"}
			= rewards[r][:name]
		-i += 1
	
%fieldset.checkboxes
	%legend Virtues
	- virtues = heroclass.virtues
	- virtues.keys.each do | v |
		%p
		-if virtues[v][:implemented]
			%input{:type=>"checkbox", :name=>"#{v}"}
				= virtues[v][:name]



