

%form#setfeats(action="/setfeats" method="POST")
	-heroclass=(Object.const_get(culture))
	%input{ :type => "hidden", :name => "culture", :value => culture }
	%input{ :type => "hidden", :name => "background", :value => background }
	%fieldset.checkboxes
		%legend Virtues
		%table#virtues(name="Virtues" class="culture_choices")
			%body
				- heroclass.virtues.each do | v |
					%tr
						%td
							%input{:type=>"checkbox", :onchange=>"submit_button.click()", :name=>v}
						%td= v.to_s.capitalize.gsub(/_/,' ')
	%fieldset.checkboxes
		%legend Rewards
		%table#rewards(name="Rewards")
			%body
				- heroclass.rewards.each do | v |
					%tr
						%td
							%input{:type=>"checkbox", :onchange=>"submit_button.click()", :name=>v}
						%td= v.to_s.capitalize.gsub(/_/,' ')
	%input#submit_button(type="submit" style="visibility:hidden")
	



