!!!

// %script(src="/jquery-2.1.0.min.js")
%script(src="/right.js")
%script(src="/ajax_stuff.js")
%script( src="/helpers.js" )
// %script(src="/nhpup_1.1.js")


%html
	%head
		%title Middle Earth Death Match
		%link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
		%link(rel="stylesheet" href="css/styles.css")
		
	%body
		#wrapper
			#header
				%h1 Middle Earth Death Match
			
			#content
						
			#hero
				%h1.center Hero
				%form#setculture(action="/setculture" method="POST")
					%label
						Culture:
					%select#culture(name="culture" onchange='submit_button.click()')
						- Hero.cultures.each do | c |
							%option{ :value => "#{c.to_s}" }
								="#{c.cultureName}"
					%input#submit_button(type="submit" style="visibility:hidden")
					
				#herodetails
					= partial :heroform, :layout => false, :locals => {:culture => "Barding"}
					
			#output