%fieldset
	%legend Iterations
	%p
		%input{ :type => "radio", :name => "iterations", :value => 0, :checked => true }
			%label{ :title => "Output blow-by-blow combat log" }
				Single match. 
	%p
		%input{ :type => "radio", :name => "iterations", :value => 2, :checked => false }
			%label{ :title => "Output aggregate stats." }
				Fight 100 times.
	%p
		%input{ :type => "radio", :name => "iterations", :value => 3, :checked => false }
			%label{ :title => "Had to disable 10k iterations; it was making heroku barf." }
				Best out of a thousand?
%fieldset
	%legend Stance
	%select{ :id => "stance", :name => "stance"}
		-stances = ["Defensive","Open","Forward"]
		-stances.size.times do |i|
			%option{:value => "#{12-i*3}"}
				=stances[i];
%input{ :type => "checkbox", :name => "sauron_rule", :checked => false}
	%label{ :title => "When Hero rolls a Sauron, opponent will try a called shot."}
		"Called Shot on Sauron" Rule