-if monsterclass != "None"
	%select#monstertype{ :name => "monstertype", :monsterclass => monsterclass, :onchange => "updateFormElement( this, 'monsterstats')" }
		%option{ :value => "None" }
			Choose a Type...
		-types=(Object.const_get(monsterclass)).types
		-types.keys.each do |key|
			%option{ :value => key }
				= types[key][:name]
		
		
